<h3>Please enter the Github Username to search for details</h3>

@using(Html.BeginForm("Search", "User", FormMethod.Post)) {
   <label>Username: </label>

   <input type="submit" value="Search" />
}